<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" routerLink="/main/services">
          Servicios
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="tertiary" expand="block" routerLink="/main/profile">
          Perfil
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="medium" expand="block" routerLink="/main/map">
          Mapa
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="secondary" expand="block" routerLink="/main/service-add">
          Añadir
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>