<ion-header>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card button="true" *ngFor="let service of services"  (click)="openService(service)">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title  class="ion-text-center">{{service.serviceName}}</ion-card-title>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

</ion-content>